################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroservicesLearning/.vs
/MicroservicesLearning/MicroservicesLearning.PlatformService/obj
/MicroservicesLearning/MicroservicesLearning.PlatformService/bin
MicroservicesLearning/MicroservicesLearning.PlatformService/.vscode/launch.json
MicroservicesLearning/MicroservicesLearning.PlatformService/.vscode/tasks.json
